html {
    font: 20px/1;
    background-color: bisque;
    color: darkblue;
    font-family: 'Trebuchet MS', sans-serif;
}

hr {
    border-color: darkblue;
    margin-top: 0.3rem;
    margin-bottom: 1rem;
    
}

.header {
    justify-self: center;
}

.wrapper {
    
}

.post-listing {
    font-family: sans-serif;
}

.add-review {
    font-family: sans-serif;
    font-weight: bolder;
  }
  
  .add-review-form {
    background-image: linear-gradient(wheat, white);
    display: flex;
    flex-direction: column;  
  }
  
  .add-review-form__field {
    padding: .5rem 1rem;
  }
  
  .add-review-form__field__input {
    font-family: 'Merriweather', serif;
  }
  
  .add-review-form__field__instructions {
    font-family: 'Merriweather', serif;
    font-size: 10px;
  }
  
  .add-review-form__field__label {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
  }
  
  .add-review-form__field__selectbox {
    min-height: 180px;
    width: 300px;
  }
  
  .add-review-form__field__textarea {
    border: solid 1px #000;
    display: inline-block;
    min-height: 200px;
    width: 800px;
  }

  .post-listing {
    border: solid 1px;
    border-color: darkmagenta;
    border-radius: 0.25rem;
    box-shadow: 0px 1px 2px 0px var(--pink);
  }

  .post-listing-container {
    display: grid;
    grid-area: content;
    grid-gap: 2rem 1rem;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
  }

  h1 {
    display: grid;
    padding: 20px;
    justify-content: center;
  }