html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header {
    justify-self: center;
}

.wrapper {
    font: red;

    background-color: yellow;
}

.post-listing {

    font-family: sans-serif;
}