<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>B&B Blogs</title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css" />
</head>

<body>

    <div class="wrapper">

        <h1 class="header">All Blog Posts</h1>

        <section class="post-listing-container">

            <article class="post-listing" th:each="post : ${posts}">

                <h2 class="post-listing__title"><a th:text="${post.postTitle}" th:href="|/one_post/${post.postId}|">Post Title</a></h2>
                <h4 class="post-listing__post-date" th:text="${post.postDate}">Post Date</h4>
                <h4 class="post-listing__author" th:text="'Author: '+${post.author.authorName}">Post Author</h4>
                <h4 class="post-listing__post-body" th:text="'Post: '+${post.postBody}">Blog Body</h4>
                <h4 class="post-listing__genre" th:text="'Genre: '+${post.genre.genreName}">Genre</h4>

                <h5 class="post-listing__tags" th:each="tag : ${post.tags}">
                    <div th:text="${tag.tagName}">Tag List</div>
                </h5>


            </article>

        </section>

    </div>
</body>

</html>