<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>B&B Blogs</title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css" />
</head>

<body>

    <div class="wrapper">

        <h1 class="header">Tags</h1>

        <section class="tag-listing">
            <article class="tag-listing__loop" th:each="tag : ${tags}">
                <h3 class="tag-listing__item" th:text="${tag.tagName}">Tags</h3>
                <hr>
            </article>
        </section>

        <form action="/add_tag" method="POST">

            <label for="tag_name">Type in new Tag:</label>
            <input type="text" name="tagName" id="tag_name"></input>
            <button type="submit">Submit</button>

        </form>

    </div>
</body>

</html>