<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>B&B Blogs</title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css" />

</head>

<body>

    <div class="wrapper">

        <h1 class="header">Authors</h1>

        <section class="author-listing">
            <article class="author-listing__loop" th:each="author : ${authors}">
                <h3 class="author-listing__item" th:text="${author.authorName}">Authors</h3>
                <hr>
            </article>
        </section>

        <form action="/add_author" method="POST">
            <fieldset>

                <label for="author_name">Type in new Author name:</label>
                <input type="text" name="authorName" id="author_name"></input>
                <button type="submit">Submit</button>

            </fieldset>
        </form>

    </div>

</body>

</html>