<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>B&B Blogs</title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css" />

</head>

<body>

    <div class="wrapper">

        <h1 class="header">Authors</h1>


        <section class="author-listing">
            <article class="author-listing__loop" th:each="author : ${authors}">
                <h3 class="author-listing__item" th:text="${author.authorName}">Authors</h3>
                <hr>
            </article>
        </section>
    </div>

    <form action="/author/add" method="POST">
        <label>Beer name
            <input type="text" name="authorName.author" /></label>
        <!-- <label>Beer style
            <input type="text" name="style.beer" /></label>
        <label>Brewery
            <input type="text" name="brewery.company" /></label>
        <label>User Rating
            <input type="text" name="userRating.beer" /></label>
        <label>Review -->
            <input type="text" name="author" /></label>
        <input type="hidden" name="authorId" th:value="${author.id}"/>

        <button type="submit">Submit</button>
    </form>



</body>

</html>