<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>B&B Blogs</title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css" />
</head>

<body>

    <div class="wrapper">

        <h1 class="header">Blogs</h1>
        <!-- <div class="text-box"> -->

        <!-- <h1 th:text="${blog.posts}"></h1> -->
        <!-- Maybe "${author.posts}" -->


        <!-- <ul class="list-of-blogs"> -->

        <section class="post-listing">

            <article class="post-listing2" th:each="post : ${posts}">

                <h2 class="post-listing__title" th:text="${post.postTitle}">Post Title</h2>
                <h4 class="post-listing__post-date" th:text="${post.postDate}">Post Date</h4>
                <h3 class="post-listing__author" th:text="${post.author.authorName}">Post Author</h3>
                <h4 class="post-listing__post-body" th:text="${post.postBody}">Blog Body</h4>
                <h4 class="post-listing__genre" th:text="${post.genre.genre}">Genre</h4>

            </article>

        </section>

    </div>
</body>

</html>