<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>B&B Blogs</title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css" />
</head>

<body>

    <div class="wrapper">

        <h1 class="page-title">Tags</h1>

        <div class="go-home">
            <h5 class="go-home__text"><a href="/">Click here to go to homepage</a></h5>
        </div>

        <section class="add-new-type">
            <form action="/add_tag" method="POST">
                <label for="tag_name">Type in new Tag:</label>
                <input type="text" name="tagName" id="tag_name"></input>
                <button type="submit">Submit</button>
            </form>
        </section>

        <hr>
        <section class="listing-container">
            <div class="listing-container__item" th:each="tag : ${tags}">
                <h3 class="listing-container__content" th:text="${tag.tagName}">Tags</h3>
            </div>
        </section>

    </div>

</body>

</html>