<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>B&B Blogs</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>

    <div class="wrapper">

        <h1 class="page-title__homepage">Welcome to Our Blogs!</h1>

        <div class=homepage-list>
            <div class=homepage-list__item><a href="all_blogs">All the Blogs</a></div>
            <div class=homepage-list__item><a href="all_genres">All the Genres</a></div>
            <div class=homepage-list__item><a href="all_authors">All the Authors</a></div>
            <div class=homepage-list__item><a href="all_tags">All the Tags</a></div>
            <div class=homepage-list__item><a href="add_post">Click to Add a Blog Post</a></div>
        </div>

        <footer class="footer__content">
            <article class="footer__copyright">
                &copy; B&B Blogs 2019
            </article>
        </footer>

    </div>

</body>

</html>