<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>B&B Blogs</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>

    <div class="wrapper">

        <section class="main-body">

            <h1 class="page-title">Welcome to Our Blogs!</h1>

            <div class=homepage-list>
                <ul>
                    <li class=homepage-list__item><a href="all_blogs">All the Blogs</a></li>
                    <li class=homepage-list__item><a href="all_genres">All the Genres</a></li>
                    <li class=homepage-list__item><a href="all_authors">All the Authors</a></li>
                    <li class=homepage-list__item><a href="all_tags">All the Tags</a></li>
                    <li class=homepage-list__item><a href="add_post">Click to Add a Blog Post</a></li>
                </ul>
            </div>

    </div>

</body>

</html>